//@import './../../settings.styl';
#subMenuManager
  position: relative
  ul.restSubMenuList
    li.subMenuItem
      display: flex
      flex-direction: row
      width: 100%
      .innerItem
        width: 25%
#subMenu
  position: relative
  ul.restSubMenuList
    li.subMenuItem
      display: flex
      flex-direction: row
      width: 100%
      .innerItem
        width: 25%
