//@import './../../settings.styl';

#restMenu
  position: relative
  ul.menuContainer
    li.restItem
      display: flex
      flex-direction: row
      width: 100%
      .innerItem
        width: 25%
