/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Roboto';
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.heading .h1 {
  /*margin-left: 50px;*/
}
